.titleColor{
    font-weight: 900;
    color: #FFD166;
    margin: auto;
}

.titleContainer{
    margin: 13px 40px 40px 20px;
}

.sideSection{
    max-width: 240px;
    height: 600px;
    max-height: 600px;
    border: solid;
    box-shadow:7px 7px 2px 1px cornflowerblue;
    border-color: black;
    margin: 5px, 10px 10px 18px;
    background-color: #3D518C;
    
}

.lightText{
    color: #ABD2FA
}